* {
    margin: 0px;
    font-family: Verdana, Geneva, Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color: rgb(172, 172, 172);
}

.numb {
    font-size: 2em;
}

#game {
    text-align: center;
    color: blue;
    border: 5px solid blue;
    background-color: black;
    max-width: 400px;
    margin: 10px auto;
    border-radius: 25px;
    overflow: hidden;
}

header, footer {
    background-color: black;
    padding: 10px;
}

main {
    margin: 10px auto;
}

.guess, .check {
    display: inline-flex;
    justify-content: space-around;
    
}

.left-side, .right-side {
    display: flex;
}

.left-side > div {
    width: 35px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(125, 125, 125);
    color: white;
    border: 1px solid blue;
    margin: 2px;
}

.right-side > div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(125, 125, 125);
    margin: 2px;
    
}